body {
  font-family: sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  margin: 0;
  transition: background 10s;
}